div.enblock-element(ng-click='select()')
  div.enblock-element-header
    span.enblock-block-tag Paragraph
  p(contenteditable='true', ng-class='elemClass', ng-transclude, ng-mouseup='checkSelection()', ng-keydown='checkSelection()')