div.enblock-element(ng-click='select()', contenteditable='false')
  div.enblock-element-header
    span.enblock-block-tag Gallery
  div.enblock-gallery-origin(ng-transclude)
  div.enblock-gallery-image-container(ng-repeat='photo in photos', ng-if='mode === SQUARE')
    div.enblock-gallery-image-wrap
      img.enblock-gallery-image(ng-src='{{photo.src}}')
    div.enblock-gallery-description-wrap
      p.enblock-gallery-description(ng-bind='photo.description')
