SELECTED_BACKGROUND = #ECF5FF
SELECTED_BORDER_COLOR = #08C
SELECTED_TAG_BACKGROUND = desaturate(lighten(#f1c40f, 70%), 10%)

.enblock
  padding 10px 6px
  border 1px solid #CCC
  margin 6px 0
.enblock-toolbar
  margin 0 6px
.enblock-content
  margin 18px 6px 6px 6px
  background-color #FAFAFA
  border 1px solid #F0F0F0
  padding 12px 8px
  outline none
  font-size 14pt
.enblock-element
  padding 3px 8px

.enblock-child
  margin 3px 0
  border 1px solid transparent

// Paragraph
.enblock-paragraph
  &:hover
    border-color SELECTED_BORDER_COLOR
    background-color SELECTED_BACKGROUND
  p
    display inline-block
    margin 0

// Element Tag
.enblock-block-tag
  font-size 10.5pt
  display inline-block
  margin 0 8px 4px 0
  background-color #DFDFDF
  border 1px solid #AAA
  border-radius 2px
  padding 2px 6px
  line-height 14pt

// Selected
.enblock-selected
  background-color lighten(SELECTED_BACKGROUND, 20%)
  border-color lighten(SELECTED_BORDER_COLOR, 30%)
  .enblock-block-tag
    background-color SELECTED_TAG_BACKGROUND
    border-color darken(SELECTED_TAG_BACKGROUND, 30%)