div.btn-group
  button.btn.btn-default(type='button', ng-click='addParagraph()')
    span.fa.fa-font
    span  Paragraph
  button.btn.btn-default(type='button', ng-click='addGallery()')
    span.fa.fa-picture-o
    span  Photo
  button.btn.btn-default(type='button', ng-click='addVideo()')
    span.fa.fa-film
    span  Video
  button.btn.btn-default(type='button', ng-click='addDate()')
    span.fa.fa-calendar
    span  Date
  button.btn.btn-default(type='button', ng-click='addVote()')
    span.fa.fa-bar-chart-o
    span  Vote